<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b715527d-a395-4b9c-ba2f-52befea3c784/resourceGroups/VS2017Win10/providers/Microsoft.Web/sites/DistributorOnline</ResourceId>
    <ResourceGroup>VS2017Win10</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://distributoronline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>distributoronline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DistributorOnline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DistributorOnline</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:distributoronlinedbserver.database.windows.net,1433;Initial Catalog=DistributorOnline_db;Persist Security Info=False;User ID=LeeSole;Password=LolaLaurelle01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:distributoronlinedbserver.database.windows.net,1433;Initial Catalog=DistributorOnline_db;Persist Security Info=False;User ID=LeeSole;Password=LolaLaurelle01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Distributor.Models.ApplicationDbContext, Distributor" MigrationConfiguration="Distributor.Migrations.Configuration, Distributor" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:distributoronlinedbserver.database.windows.net,1433;Initial Catalog=DistributorOnline_db;User Id=LeeSole@distributoronlinedbserver;Password=LolaLaurelle01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>